{% extends "index.html" %}

{% block body %}
<br><br>

<h3>
    Upload The Bill\innovice to extract information
</h3>

<div class="row">
    <form action="/" method="POST" enctype="multipart/form-data">
        <div class="input-group">
            <input type="file" class="form-control" name="image_name" required>
            <input type="submit" class="btn btn-primary" value="Upload Bill Image">
        </div>
    </form>
    {% if fileupload %}
        <div class="row">
            <button class="btn btn-primary" id="sendData">Extract Text</button>
        </div>
    {% endif %}
</div>


{% if  fileupload %}

<p>{{message}}</p>

<div class="row">
    <div class="col">
        <canvas id="canvas" style="max-width: 100%; height: auto"></canvas>
    </div>
    <div class="col">
        <div id="loader"  align="center" class=""></div>
    </div>
</div>

<script>
    loadPoints({{points | tojson }})
</script>

{% endif %}

{% endblock  %}